.App {
  background: #f4f4f4 0.5;
  font-family: "Lato", sans-serif;
  max-width: 800px;
  margin: 0 auto;
  display: block;
}

.footer{
font-size: 12px;
margin: 0 auto;
display: block;
max-width: 200px;
padding-top: 10px;
}
